<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddjf.image.mapper.CountryMapper">
  <resultMap id="BaseResultMap" type="com.ddjf.image.model.Country">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="countryname" jdbcType="VARCHAR" property="countryname" />
    <result column="countrycode" jdbcType="VARCHAR" property="countrycode" />
  </resultMap>
  
  <select id="findList" parameterType="com.ddjf.image.model.Country" resultMap="BaseResultMap">
  	select * from country t
  	<where>
	  	<if test="countryname != null and countryname != ''">
			AND t.countryname like CONCAT('%', #{countryname}, '%')
		</if>
		<if test="countrycode != null and countrycode != ''">
			AND t.countrycode like CONCAT('%', #{countrycode}, '%')
		</if>
  	</where>
  </select>
</mapper>